body{
    background: #373535 !important;
    font-family: 'Arial, sans-serif' !important;
}

.cardList {
    width: 18rem;
    margin: 10px;
}

 
.listItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button {
    background-color: orange !important;
  }